/* .homeformat {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.EnterNewRxInfo {
    display: flex;
    justify-content: center;

} */