:root {
  --primary-bg-color: #2E3F59;
  --secondary-bg-color: #f7f7f7;
  --accent-color: #61dafbaa;
  --text-color: #888;
  --white-color: #ffffff;
  --black-color: #000000;
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--font-family);
  color-scheme: light dark;
  color: rgba(204, 204, 204, 0.87);
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-color: #e0e0e0;
}

a {
  color: var(--white-color);
  font-weight: 500;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #32ba56;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: hsl(0, 0%, 83%);
  }

  a:hover {
    color: #909291;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* Reusable Flexbox Centering */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Home Page Layout */
.homeformat, .hm {
  width: 100vw;
  height: 75vh;
  min-width: 50px;
  min-height: 100px;
  display: flex;
  background-color: var(--white-color);
  border: 1px solid black;
}

.MainNav, .X, .Medication, .NewRX, .sigcode, .NewPatient, .NewDoctor {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  color: var(--white-color);
}

.MainNav {
  width: 100vw;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
}

.X, .Medication, .NewRX, .sigcode, .NewPatient, .NewDoctor {
  width: 17%;
  flex-direction: column;
}

.quicklinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 800px;
}

.fillerword {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  font-size: 1.7rem;
}

.HomePage {
  font-size: 3rem;
  padding-right: 700px;
  height: 80px;
}

.BeginningHomePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

img {
  height: 100px;
  align-self: flex-end;
}

img:nth-child(2) {
  height: 500px;
  width: 500px;
}

/* Directions and Fields */
.directionsfield, .NameField, .PatientSearch, .quickinput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.directionsinputbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 55px;
  width: 250px;
  overflow: hidden;
}

.directionslabel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.Rad {
  background-color: #eeeeee;
  margin-left: 20px;
  border-radius: 50px;
  border: 2px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.EnterNewRxInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 498px;
  width: 680px;
  margin-top: 20px;
  background-color: var(--white-color);
  border: 1px solid black;
  border-top: 1px solid white;
}

/* Patient Profile */
.patient-profile-fields, .patient-profile-list, .patient-profile-right-side {
  display: flex;
  flex-direction: column;
  background-color: #D5F0F4;
  border: 1.1px solid rgb(0, 0, 0);
}

.patient-profile-right-side {
  align-items: center;
  padding-top: 80px;
  height: 438px;
  width: 720px;
  background-color: var(--white-color);
}

/* Modal */
.modal, .overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(243, 243, 243);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 650px;
  height: 450px;
}

.modal-content {
  background-color: #eeeeee;
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Modal-save-button {
  background-color: #4D79A9;
  color: var(--white-color);
  display: flex;
  align-self: center;
  margin-left: 80px;
  margin-top: 50px;
}
